.vet-details{
    margin-left: 30px;
    margin-right: 30px;
}

.vet-details div h4{
    margin-top: 4px;
    margin-bottom: 4px;
    text-decoration: none;
}

.review-card {
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment, .dateTime{
    color:gray;
    font-style: italic;
}

.comment{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dateTime{
    font-size: 12px;
    margin-left: 10px;
}